@model MedicalHistory.Patient

@{
    ViewBag.Title = "Details";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("/Content/Images/home.jpg");
            background-repeat: no-repeat;
            background-size: 1535px 900px;
        }
        #heading{
            background-color:black;
            padding:10px;
            opacity:0.7;
            margin:20px;
        }
        #content{
            background-color:black;
            padding:20px;
            opacity:0.7;
        }
        dt,dd{
            color:white;
        }
    </style>
</head>
<body>
    

        <div id="heading">
            <h2 style="color:white">Details</h2>
            <h5 style=" color:white">Patient Id = @Session["id"]</h5>
        </div>

        <hr />
        
        <div id="content">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BloodGroup)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Allergy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Allergy)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pincode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pincode)
            </dd>

        </dl>

        <p style="margin-left:20px">
            @Html.ActionLink("Edit", "Edit", new { id = Session["id"] }) |
            @Html.ActionLink("History", "Details", "Histories", new { id = Session["id"] }, null)
        </p>
    </div>
</body>
</html>